<nav class="blue darken-2">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">ACF</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse show-on-large right">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li ><a href="/">Home</a></li>
        <li ><a href="/signup">Sign Up</a></li>
        <li ><a href="/signin">Sign In</a></li>
        <li ><a href="/logout">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Side Nav -->
<ul id="mobile-nav" class="sidenav">
    <li ><a href="/">Home</a></li>
    <li ><a href="/signup">Sign Up</a></li>
    <li ><a href="/signin">Sign In</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Account Controls</a></li>
    <li><a href="/logout">Sign Out</a></li>
  </ul>